## Crypto Arbitrage

In this Challenge, you'll take on the role of an analyst at a high-tech investment firm. The vice president (VP) of your department is considering arbitrage opportunities in Bitcoin and other cryptocurrencies. As Bitcoin trades on markets across the globe, can you capitalize on simultaneous price dislocations in those markets by using the powers of Pandas?

For this assignment, you’ll sort through historical trade data for Bitcoin on two exchanges: Bitstamp and Coinbase. Your task is to apply the three phases of financial analysis to determine if any arbitrage opportunities exist for Bitcoin.

This aspect of the Challenge will consist of 3 phases.

1. Collect the data.

2. Prepare the data.

3. Analyze the data.

###  Import the required libraries and dependencies.

In [1]:
%matplotlib
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np

Using matplotlib backend: <object object at 0x7fa8c9895820>

## Collect the Data

To collect the data that you’ll need, complete the following steps:

Instructions. 

1. Using the Pandas `read_csv` function and the `Path` module, import the data from `bitstamp.csv` file, and create a DataFrame called `bitstamp`. Set the DatetimeIndex as the Timestamp column, and be sure to parse and format the dates.

2. Use the `head` (and/or the `tail`) function to confirm that Pandas properly imported the data.

3. Repeat Steps 1 and 2 for `coinbase.csv` file.

### Step 1: Using the Pandas `read_csv` function and the `Path` module, import the data from `bitstamp.csv` file, and create a DataFrame called `bitstamp`. Set the DatetimeIndex as the Timestamp column, and be sure to parse and format the dates.

In [2]:
# Read in the CSV file called "bitstamp.csv" using the Path module. 
# The CSV file is located in the Resources folder.
# Set the index to the column "Date"
# Set the parse_dates and infer_datetime_format parameters
bitstamp_csvpath = bitstamp_csvpath = Path("./Resources/bitstamp.csv")
bitstamp_df = pd.read_csv(
    bitstamp_csvpath, 
    index_col="Timestamp", 
    infer_datetime_format=True, 
    parse_dates=True
)

### Step 2: Use the `head` (and/or the `tail`) function to confirm that Pandas properly imported the data.

In [3]:
# Use the head (and/or tail) function to confirm that the data was imported properly.
bitstamp_df.head()

,Open,High,Low,Close,BTC Volume,USD Volume,Weighted Price
Timestamp,,,,,,,
2018-01-01 00:00:00,13681.04,13681.04,13637.93,$13646.48,3.334553,45482.128785,13639.647479
2018-01-01 00:01:00,13646.48,13658.75,13610.18,$13658.75,2.663188,36361.390888,13653.332816
2018-01-01 00:02:00,13616.93,13616.93,13610.06,$13610.22,0.084653,1152.144036,13610.136247
2018-01-01 00:03:00,13610.27,13639.09,13610.27,$13639.09,7.182986,97856.416478,13623.361128
2018-01-01 00:04:00,13635.35,13636.35,13620.00,$13620.0,1.069665,14582.660932,13632.923329

### Step 3: Repeat Steps 1 and 2 for `coinbase.csv` file.

In [4]:
# Read in the CSV file called "coinbase.csv" using the Path module. 
# The CSV file is located in the Resources folder.
# Set the index to the column "Timestamp"
# Set the parse_dates and infer_datetime_format parameters
coinbase_csvpath = bitstamp_csvpath = Path("./Resources/coinbase.csv")
coinbase_df = pd.read_csv(
    bitstamp_csvpath, 
    index_col="Timestamp", 
    infer_datetime_format=True, 
    parse_dates=True
)

In [5]:
# Use the head (and/or tail) function to confirm that the data was imported properly.
coinbase_df.head()

,Open,High,Low,Close,BTC Volume,USD Volume,Weighted Price
Timestamp,,,,,,,
2018-01-01 00:00:00,13620.00,13620.00,13608.49,$13608.49,20.812754,283451.08537,13619.105106
2018-01-01 00:01:00,13607.14,13607.14,13601.66,$13601.66,13.474359,183283.97801,13602.426919
2018-01-01 00:02:00,13601.44,13601.44,13580.00,$13580.0,11.536360,156789.19686,13590.872506
2018-01-01 00:03:00,13587.31,13587.31,13542.70,$13550.34,16.328039,221413.64182,13560.332806
2018-01-01 00:04:00,13550.34,13585.95,13550.34,$13583.44,9.955364,135141.26944,13574.719401

## Prepare the Data

To prepare and clean your data for analysis, complete the following steps:

1. For the bitstamp DataFrame, replace or drop all `NaN`, or missing, values in the DataFrame.

2. Use the `str.replace` function to remove the dollar signs ($) from the values in the Close column.

3. Convert the data type of the Close column to a `float`.

4. Review the data for duplicated values, and drop them if necessary.

5. Repeat Steps 1–4 for the coinbase DataFrame.

### Step 1: For the bitstamp DataFrame, replace or drop all `NaN`, or missing, values in the DataFrame.

In [6]:
# For the bitstamp DataFrame, replace or drop all NaNs or missing values in the DataFrame
bitstamp_df.fillna(0)

,Open,High,Low,Close,BTC Volume,USD Volume,Weighted Price
Timestamp,,,,,,,
2018-01-01 00:00:00,13681.04,13681.04,13637.93,$13646.48,3.334553,45482.128785,13639.647479
2018-01-01 00:01:00,13646.48,13658.75,13610.18,$13658.75,2.663188,36361.390888,13653.332816
2018-01-01 00:02:00,13616.93,13616.93,13610.06,$13610.22,0.084653,1152.144036,13610.136247
2018-01-01 00:03:00,13610.27,13639.09,13610.27,$13639.09,7.182986,97856.416478,13623.361128
2018-01-01 00:04:00,13635.35,13636.35,13620.00,$13620.0,1.069665,14582.660932,13632.923329
...,...,...,...,...,...,...,...
2018-03-31 23:55:00,6935.01,6939.07,6922.56,$6922.56,1.044354,7240.034602,6932.550078
2018-03-31 23:56:00,6922.02,6922.02,6918.00,$6920.32,3.069539,21245.076275,6921.260233
2018-03-31 23:57:00,6920.33,6936.42,6920.33,$6934.72,28.239049,195789.408220,6933.286106
2018-03-31 23:58:00,6927.65,6929.42,6927.65,$6927.65,0.839507,5817.007705,6929.080007
2018-03-31 23:59:00,6929.98,6929.98,6928.00,$6928.01,0.209363,1450.735763,6929.289993

### Step 2: Use the `str.replace` function to remove the dollar signs ($) from the values in the Close column.

In [7]:
# Use the str.replace function to remove the dollar sign, $
bitstamp_df.loc[:,"Close"]=bitstamp_df.loc[:,"Close"].str.replace("$","")

/Users/angelarichter/opt/anaconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

### Step 3: Convert the data type of the Close column to a `float`.

In [8]:
# Convert the Close data type to a float
bitstamp_df.loc[:,"Close"]=bitstamp_df.loc[:,"Close"].astype("float")
bitstamp_df.dtypes

Open              float64
High              float64
Low               float64
Close             float64
BTC Volume        float64
USD Volume        float64
Weighted Price    float64
dtype: object

### Step 4: Review the data for duplicated values, and drop them if necessary.

In [9]:
# Review the data for duplicate values, and drop them if necessary
bitstamp_df.drop_duplicates()

,Open,High,Low,Close,BTC Volume,USD Volume,Weighted Price
Timestamp,,,,,,,
2018-01-01 00:00:00,13681.04,13681.04,13637.93,13646.48,3.334553,45482.128785,13639.647479
2018-01-01 00:01:00,13646.48,13658.75,13610.18,13658.75,2.663188,36361.390888,13653.332816
2018-01-01 00:02:00,13616.93,13616.93,13610.06,13610.22,0.084653,1152.144036,13610.136247
2018-01-01 00:03:00,13610.27,13639.09,13610.27,13639.09,7.182986,97856.416478,13623.361128
2018-01-01 00:04:00,13635.35,13636.35,13620.00,13620.00,1.069665,14582.660932,13632.923329
...,...,...,...,...,...,...,...
2018-03-31 23:55:00,6935.01,6939.07,6922.56,6922.56,1.044354,7240.034602,6932.550078
2018-03-31 23:56:00,6922.02,6922.02,6918.00,6920.32,3.069539,21245.076275,6921.260233
2018-03-31 23:57:00,6920.33,6936.42,6920.33,6934.72,28.239049,195789.408220,6933.286106
2018-03-31 23:58:00,6927.65,6929.42,6927.65,6927.65,0.839507,5817.007705,6929.080007
2018-03-31 23:59:00,6929.98,6929.98,6928.00,6928.01,0.209363,1450.735763,6929.289993

In [10]:
bitstamp_df.info()
bitstamp_df.describe()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 129540 entries, 2018-01-01 00:00:00 to 2018-03-31 23:59:00
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Open            129067 non-null  float64
 1   High            129067 non-null  float64
 2   Low             129067 non-null  float64
 3   Close           129067 non-null  float64
 4   BTC Volume      129067 non-null  float64
 5   USD Volume      129067 non-null  float64
 6   Weighted Price  129067 non-null  float64
dtypes: float64(7)
memory usage: 7.9 MB

,Open,High,Low,Close,BTC Volume,USD Volume,Weighted Price
count,129067.000000,129067.000000,129067.000000,129067.000000,129067.000000,1.290670e+05,129067.000000
mean,10459.993683,10472.970114,10446.214703,10459.842453,11.792878,1.177496e+05,10459.384448
std,2315.909269,2318.929342,2312.331601,2315.976088,21.799938,2.070551e+05,2315.723480
min,5945.950000,5975.060000,5920.720000,5944.000000,0.000039,3.333436e-01,5949.997212
25%,8613.985000,8621.655000,8604.440000,8613.370000,1.711874,1.773244e+04,8613.587020
50%,10145.300000,10156.410000,10131.740000,10145.950000,4.994095,5.188050e+04,10144.740411
75%,11444.455000,11453.990000,11431.970000,11444.810000,12.717950,1.313104e+05,11443.791560
max,17234.980000,17234.990000,17214.960000,17234.980000,580.646391,5.483271e+06,17227.810502

### Step 5: Repeat Steps 1–4 for the coinbase DataFrame.

In [11]:
# Repeat Steps 1–4 for the coinbase DataFrame
coinbase_df.fillna(0)

,Open,High,Low,Close,BTC Volume,USD Volume,Weighted Price
Timestamp,,,,,,,
2018-01-01 00:00:00,13620.00,13620.00,13608.49,$13608.49,20.812754,283451.085370,13619.105106
2018-01-01 00:01:00,13607.14,13607.14,13601.66,$13601.66,13.474359,183283.978010,13602.426919
2018-01-01 00:02:00,13601.44,13601.44,13580.00,$13580.0,11.536360,156789.196860,13590.872506
2018-01-01 00:03:00,13587.31,13587.31,13542.70,$13550.34,16.328039,221413.641820,13560.332806
2018-01-01 00:04:00,13550.34,13585.95,13550.34,$13583.44,9.955364,135141.269440,13574.719401
...,...,...,...,...,...,...,...
2018-03-31 23:55:00,6945.20,6948.06,6930.00,$6930.0,5.802288,40243.918480,6935.869979
2018-03-31 23:56:00,6930.00,6930.01,6930.00,$6930.01,0.625053,4331.620701,6930.005567
2018-03-31 23:57:00,6930.01,6933.91,6930.01,$6933.91,0.776431,5382.532162,6932.405747
2018-03-31 23:58:00,6933.91,6938.00,6933.90,$6937.31,0.133413,925.356547,6936.048538
2018-03-31 23:59:00,6937.30,6937.30,6931.09,$6934.0,1.012720,7022.275088,6934.070316

In [12]:
# replace $ in Close column
coinbase_df.loc[:,"Close"]=coinbase_df.loc[:,"Close"].str.replace("$","")

/Users/angelarichter/opt/anaconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [13]:
# make close column into float data
coinbase_df.loc[:,"Close"]=coinbase_df.loc[:,"Close"].astype("float")

In [14]:
coinbase_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 129540 entries, 2018-01-01 00:00:00 to 2018-03-31 23:59:00
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Open            129322 non-null  float64
 1   High            129322 non-null  float64
 2   Low             129322 non-null  float64
 3   Close           129322 non-null  float64
 4   BTC Volume      129322 non-null  float64
 5   USD Volume      129322 non-null  float64
 6   Weighted Price  129322 non-null  float64
dtypes: float64(7)
memory usage: 7.9 MB

In [15]:
coinbase_df.drop_duplicates()

,Open,High,Low,Close,BTC Volume,USD Volume,Weighted Price
Timestamp,,,,,,,
2018-01-01 00:00:00,13620.00,13620.00,13608.49,13608.49,20.812754,283451.085370,13619.105106
2018-01-01 00:01:00,13607.14,13607.14,13601.66,13601.66,13.474359,183283.978010,13602.426919
2018-01-01 00:02:00,13601.44,13601.44,13580.00,13580.00,11.536360,156789.196860,13590.872506
2018-01-01 00:03:00,13587.31,13587.31,13542.70,13550.34,16.328039,221413.641820,13560.332806
2018-01-01 00:04:00,13550.34,13585.95,13550.34,13583.44,9.955364,135141.269440,13574.719401
...,...,...,...,...,...,...,...
2018-03-31 23:55:00,6945.20,6948.06,6930.00,6930.00,5.802288,40243.918480,6935.869979
2018-03-31 23:56:00,6930.00,6930.01,6930.00,6930.01,0.625053,4331.620701,6930.005567
2018-03-31 23:57:00,6930.01,6933.91,6930.01,6933.91,0.776431,5382.532162,6932.405747
2018-03-31 23:58:00,6933.91,6938.00,6933.90,6937.31,0.133413,925.356547,6936.048538
2018-03-31 23:59:00,6937.30,6937.30,6931.09,6934.00,1.012720,7022.275088,6934.070316

In [16]:
coinbase_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 129540 entries, 2018-01-01 00:00:00 to 2018-03-31 23:59:00
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Open            129322 non-null  float64
 1   High            129322 non-null  float64
 2   Low             129322 non-null  float64
 3   Close           129322 non-null  float64
 4   BTC Volume      129322 non-null  float64
 5   USD Volume      129322 non-null  float64
 6   Weighted Price  129322 non-null  float64
dtypes: float64(7)
memory usage: 7.9 MB

In [17]:
coinbase_df.dtypes

Open              float64
High              float64
Low               float64
Close             float64
BTC Volume        float64
USD Volume        float64
Weighted Price    float64
dtype: object

## Analyze the Data

Your analysis consists of the following tasks: 

1. Choose the columns of data on which to focus your analysis.

2. Get the summary statistics and plot the data.

3. Focus your analysis on specific dates.

4. Calculate the arbitrage profits.

### Step 1: Choose columns of data on which to focus your analysis.

Select the data you want to analyze. Use `loc` or `iloc` to select the following columns of data for both the bitstamp and coinbase DataFrames:

* Timestamp (index)

* Close

In [18]:
# Use loc or iloc to select `Timestamp (the index)` and `Close` from bitstamp DataFrame
bitstamp_sliced = bitstamp_df.iloc[:,[3]]
bitstamp_sliced

                        Close
Timestamp
2018-01-01 00:00:00  13646.48
2018-01-01 00:01:00  13658.75
2018-01-01 00:02:00  13610.22
2018-01-01 00:03:00  13639.09
2018-01-01 00:04:00  13620.00
...                       ...
2018-03-31 23:55:00   6922.56
2018-03-31 23:56:00   6920.32
2018-03-31 23:57:00   6934.72
2018-03-31 23:58:00   6927.65
2018-03-31 23:59:00   6928.01

[129540 rows x 1 columns]

In [19]:
bitstamp_sliced.head()

                        Close
Timestamp
2018-01-01 00:00:00  13646.48
2018-01-01 00:01:00  13658.75
2018-01-01 00:02:00  13610.22
2018-01-01 00:03:00  13639.09
2018-01-01 00:04:00  13620.00

In [20]:
bitstamp_sliced.dtypes

Close    float64
dtype: object

In [21]:
coinbase_df.head()
# Review the first five rows of the DataFrame

,Open,High,Low,Close,BTC Volume,USD Volume,Weighted Price
Timestamp,,,,,,,
2018-01-01 00:00:00,13620.00,13620.00,13608.49,13608.49,20.812754,283451.08537,13619.105106
2018-01-01 00:01:00,13607.14,13607.14,13601.66,13601.66,13.474359,183283.97801,13602.426919
2018-01-01 00:02:00,13601.44,13601.44,13580.00,13580.00,11.536360,156789.19686,13590.872506
2018-01-01 00:03:00,13587.31,13587.31,13542.70,13550.34,16.328039,221413.64182,13560.332806
2018-01-01 00:04:00,13550.34,13585.95,13550.34,13583.44,9.955364,135141.26944,13574.719401

In [22]:
# Use loc or iloc to select `Timestamp (the index)` and `Close` from coinbase DataFrame
coinbase_sliced = coinbase_df.iloc[:, [3]]


# Review the first five rows of the DataFrame
coinbase_sliced.head()

                        Close
Timestamp
2018-01-01 00:00:00  13608.49
2018-01-01 00:01:00  13601.66
2018-01-01 00:02:00  13580.00
2018-01-01 00:03:00  13550.34
2018-01-01 00:04:00  13583.44

### Step 2: Get summary statistics and plot the data.

Sort through the time series data associated with the bitstamp and coinbase DataFrames to identify potential arbitrage opportunities. To do so, complete the following steps:

1. Generate the summary statistics for each DataFrame by using the `describe` function.

2. For each DataFrame, create a line plot for the full period of time in the dataset. Be sure to tailor the figure size, title, and color to each visualization.

3. In one plot, overlay the visualizations that you created in Step 2 for bitstamp and coinbase. Be sure to adjust the legend and title for this new visualization.

4. Using the `loc` and `plot` functions, plot the price action of the assets on each exchange for different dates and times. Your goal is to evaluate how the spread between the two exchanges changed across the time period that the datasets define. Did the degree of spread change as time progressed?

In [23]:
# Generate the summary statistics for the bitstamp DataFrame
bitstamp_sliced.describe()

               Close
count  129067.000000
mean    10459.842453
std      2315.976088
min      5944.000000
25%      8613.370000
50%     10145.950000
75%     11444.810000
max     17234.980000

In [24]:
# Generate the summary statistics for the coinbase DataFrame
coinbase_sliced.describe()

               Close
count  129322.000000
mean    10449.140958
std      2317.197419
min      5882.310000
25%      8609.230000
50%     10137.440000
75%     11397.237500
max     17177.990000

In [25]:
# Create a line plot for the bitstamp DataFrame for the full length of time in the dataset 
# Be sure that the figure size, title, and color are tailored to each visualization
bitstamp_sliced["Close"].plot(legend=True, figsize=(10,5), title="bitstamp_plot", color="red", label="bitstamp close")

In [26]:
# Create a line plot for the coinbase DataFrame for the full length of time in the dataset 
# Be sure that the figure size, title, and color are tailored to each visualization
coinbase_sliced["Close"].plot(legend=True, figsize=(15,10), title="coinbase_plot", color="blue", label="coinbase close")

In [27]:
# Overlay the visualizations for the bitstamp and coinbase DataFrames in one plot
# The plot should visualize the prices over the full lenth of the dataset
# Be sure to include the parameters: legend, figure size, title, and color and label
bitstamp_sliced["Close"].plot(legend=True, figsize=(15,10), title="bitstamp and coinbase close", color="red", label="bitstamp close")
coinbase_sliced["Close"].plot(legend=True, figsize=(15,10), color="blue", label="coinbase close")

In [28]:
# Using the loc and plot functions, create an overlay plot that visualizes 
# the price action of both DataFrames for a one month period early in the dataset
# Be sure to include the parameters: legend, figure size, title, and color and label
bitstamp_sliced["Close"].loc["2018-01-01 00:00:00" : "2018-01-31 00:00:00"].plot(legend=True, title="January 2018 Bitstamp and Coinbase Close", figsize=(15,10), color="red", label="bitstamp close")
coinbase_sliced["Close"].loc["2018-01-01 00:00:00" : "2018-01-31 00:00:00"].plot(legend=True, figsize=(15,10), color="blue", label="coinbase close")

In [29]:
# Using the loc and plot functions, create an overlay plot that visualizes 
# the price action of both DataFrames for a one month period later in the dataset
# Be sure to include the parameters: legend, figure size, title, and color and label 
bitstamp_sliced["Close"].loc["2018-02-01 00:00:00" : "2018-02-26 00:00:00"].plot(legend=True, title="February 2018 Bitstamp and Coinbase Close", figsize=(15,10), color="red", label="bitstamp close")
coinbase_sliced["Close"].loc["2018-02-01 00:00:00" : "2018-02-26 00:00:00"].plot(legend=True, figsize=(15,10), color="blue", label="coinbase close")

**Question** Based on the visualizations of the different time periods, has the degree of spread change as time progressed?

**Answer** yes

### Step 3: Focus Your Analysis on Specific Dates

Focus your analysis on specific dates by completing the following steps:

1. Select three dates to evaluate for arbitrage profitability. Choose one date that’s early in the dataset, one from the middle of the dataset, and one from the later part of the time period.

2. For each of the three dates, generate the summary statistics and then create a box plot. This big-picture view is meant to help you gain a better understanding of the data before you perform your arbitrage calculations. As you compare the data, what conclusions can you draw?

In [30]:
# Create an overlay plot that visualizes the two dataframes over a period of one day early in the dataset. 
# Be sure that the plots include the parameters `legend`, `figsize`, `title`, `color` and `label` 
bitstamp_sliced["Close"].loc["2018-01-02 00:00:00" : "2018-01-02 23:59:00"].plot(legend=True, title="Jan 2nd 2018 Bitstamp and Coinbase Close", figsize=(15,10), color="red", label="bitstamp close")
coinbase_sliced["Close"].loc["2018-01-02 00:00:00" : "2018-01-02 23:59:00"].plot(legend=True, figsize=(15,10), color="blue", label="coinbase close")

In [31]:
# Using the early date that you have selected, calculate the arbitrage spread 
# by subtracting the bitstamp lower closing prices from the coinbase higher closing prices
arbitrage_spread_early = coinbase_sliced["Close"].loc["2018-01-02"] - bitstamp_sliced["Close"].loc["2018-01-02"]
arbitrage_spread_early.describe()

# Generate summary statistics for the early DataFrame
# YOUR CODE HERE

count    1440.000000
mean       24.992396
std        40.490058
min      -110.880000
25%        -1.592500
50%        27.010000
75%        52.050000
max       148.000000
Name: Close, dtype: float64

In [32]:
# Visualize the arbitrage spread from early in the dataset in a box plot
arbitrage_spread_early.plot(legend=True, title="Jan 2 Arbitrage")

In [33]:
# Create an overlay plot that visualizes the two dataframes over a period of one day from the middle of the dataset.
bitstamp_sliced["Close"].loc["2018-02-15 00:00:00" : "2018-02-15 23:59:00"].plot(legend=True, title="Feb 15 2018 Bitstamp and Coinbase Close", figsize=(15,10), color="red", label="bitstamp close")
coinbase_sliced["Close"].loc["2018-02-15 00:00:00" : "2018-02-15 23:59:00"].plot(legend=True, figsize=(15,10), color="blue", label="coinbase close")

In [34]:
# Using the date in the middle that you have selected, calculate the arbitrage spread 
# by subtracting the bitstamp lower closing prices from the coinbase higher closing prices
arbitrage_spread_mid = coinbase_sliced["Close"].loc["2018-02-15"] - bitstamp_sliced["Close"].loc["2018-02-15"]
arbitrage_spread_mid.describe()

# Generate summary statistics 
# YOUR CODE HERE

count    1440.000000
mean       -5.760007
std        14.908671
min       -55.470000
25%       -16.217500
50%        -6.960000
75%         3.995000
max        48.800000
Name: Close, dtype: float64

In [35]:
# Visualize the arbitrage spread from the middle of the dataset in a box plot
arbitrage_spread_mid.plot(legend=True, title="mid spread")

In [36]:
# Create an overlay plot that visualizes the two dataframes over a period of one day from late in the dataset. 
# Be sure that the plots include the parameters `legend`, `figsize`, `title`, `color` and `label` 
bitstamp_sliced["Close"].loc["2018-03-20 00:00:00" : "2018-03-20 23:59:00"].plot(legend=True, title="Mar 20 2018 Bitstamp and Coinbase Close", figsize=(15,10), color="red", label="bitstamp close")
coinbase_sliced["Close"].loc["2018-03-20 00:00:00" : "2018-03-20 23:59:00"].plot(legend=True, figsize=(15,10), color="blue", label="coinbase close")

In [37]:
# Using the date from the late that you have selected, calculate the arbitrage spread 
# by subtracting the bitstamp lower closing prices from the coinbase higher closing prices
arbitrage_spread_late = coinbase_sliced["Close"].loc["2018-03-20"] - bitstamp_sliced["Close"].loc["2018-03-20"]
# Generate summary statistics for the late DataFrame
arbitrage_spread_late.describe()

count    1432.000000
mean       -4.572556
std         9.269393
min       -59.950000
25%       -10.962500
50%        -4.825000
75%         1.477500
max        27.930000
Name: Close, dtype: float64

In [38]:
# Visualize the arbitrage spread from late in the dataset in a box plot
arbitrage_spread_late.plot(legend=True, title="late spread")

### Step 4: Calculate the Arbitrage Profits

Calculate the potential profits for each date that you selected in the previous section. Your goal is to determine whether arbitrage opportunities still exist in the Bitcoin market. Complete the following steps:

1. For each of the three dates, measure the arbitrage spread between the two exchanges by subtracting the lower-priced exchange from the higher-priced one. Then use a conditional statement to generate the summary statistics for each arbitrage_spread DataFrame, where the spread is greater than zero.

2. For each of the three dates, calculate the spread returns. To do so, divide the instances that have a positive arbitrage spread (that is, a spread greater than zero) by the price of Bitcoin from the exchange you’re buying on (that is, the lower-priced exchange). Review the resulting DataFrame.

3. For each of the three dates, narrow down your trading opportunities even further. To do so, determine the number of times your trades with positive returns exceed the 1% minimum threshold that you need to cover your costs.

4. Generate the summary statistics of your spread returns that are greater than 1%. How do the average returns compare among the three dates?

5. For each of the three dates, calculate the potential profit, in dollars, per trade. To do so, multiply the spread returns that were greater than 1% by the cost of what was purchased. Make sure to drop any missing values from the resulting DataFrame.

6. Generate the summary statistics, and plot the results for each of the three DataFrames.

7. Calculate the potential arbitrage profits that you can make on each day. To do so, sum the elements in the profit_per_trade DataFrame.

8. Using the `cumsum` function, plot the cumulative sum of each of the three DataFrames. Can you identify any patterns or trends in the profits across the three time periods?

(NOTE: The starter code displays only one date. You'll want to do this analysis for two additional dates).

#### 1. For each of the three dates, measure the arbitrage spread between the two exchanges by subtracting the lower-priced exchange from the higher-priced one. Then use a conditional statement to generate the summary statistics for each arbitrage_spread DataFrame, where the spread is greater than zero.

*NOTE*: For illustration, only one of the three dates is shown in the starter code below.

In [39]:
coinbase_sliced.isnull().sum()

Close    218
dtype: int64

In [40]:
coinbase_sliced.loc[:,"Close"].dropna()

Timestamp
2018-01-01 00:00:00    13608.49
2018-01-01 00:01:00    13601.66
2018-01-01 00:02:00    13580.00
2018-01-01 00:03:00    13550.34
2018-01-01 00:04:00    13583.44
                         ...
2018-03-31 23:55:00     6930.00
2018-03-31 23:56:00     6930.01
2018-03-31 23:57:00     6933.91
2018-03-31 23:58:00     6937.31
2018-03-31 23:59:00     6934.00
Name: Close, Length: 129322, dtype: float64

In [41]:
coinbase_sliced.describe()

               Close
count  129322.000000
mean    10449.140958
std      2317.197419
min      5882.310000
25%      8609.230000
50%     10137.440000
75%     11397.237500
max     17177.990000

In [42]:
bitstamp_sliced.dropna()

                        Close
Timestamp
2018-01-01 00:00:00  13646.48
2018-01-01 00:01:00  13658.75
2018-01-01 00:02:00  13610.22
2018-01-01 00:03:00  13639.09
2018-01-01 00:04:00  13620.00
...                       ...
2018-03-31 23:55:00   6922.56
2018-03-31 23:56:00   6920.32
2018-03-31 23:57:00   6934.72
2018-03-31 23:58:00   6927.65
2018-03-31 23:59:00   6928.01

[129067 rows x 1 columns]

In [43]:
# determine greater close price for early arbitrage
bitstamp_sliced["Close"].loc["2018-01-02"].describe()

count     1440.000000
mean     14166.712778
std        664.894683
min      13084.360000
25%      13604.970000
50%      13896.105000
75%      14832.565000
max      15253.000000
Name: Close, dtype: float64

In [44]:
# determine greater close price for early arbitrage
coinbase_sliced["Close"].loc["2018-01-02"].describe()

count     1440.000000
mean     14191.705174
std        661.384418
min      13150.010000
25%      13636.910000
50%      13890.505000
75%      14880.000000
max      15275.000000
Name: Close, dtype: float64

In [45]:
# determine greater close price for mid arbitrage
bitstamp_sliced["Close"].loc["2018-02-15"].describe()

count     1440.000000
mean      9930.236535
std        196.232293
min       9500.000000
25%       9743.000000
50%       9914.490000
75%      10107.452500
max      10298.000000
Name: Close, dtype: float64

In [46]:
# determine greater close price for mid arbitrage
coinbase_sliced["Close"].loc["2018-02-15"].describe()

count     1440.000000
mean      9924.476528
std        195.447618
min       9502.100000
25%       9734.010000
50%       9909.945000
75%      10098.247500
max      10307.680000
Name: Close, dtype: float64

In [47]:
# determine greater close price for late arbitrage
bitstamp_sliced["Close"].loc["2018-03-20"].describe()

count    1432.000000
mean     8693.854777
std       219.582457
min      8325.970000
25%      8489.522500
50%      8571.945000
75%      8929.200000
max      9051.670000
Name: Close, dtype: float64

In [48]:
# determine greater close price for late arbitrage
coinbase_sliced["Close"].loc["2018-03-20"].describe()

count    1440.000000
mean     8688.387278
std       223.033700
min      8316.990000
25%      8482.125000
50%      8563.125000
75%      8932.222500
max      9050.000000
Name: Close, dtype: float64

In [49]:
# For the date early in the dataset, measure the arbitrage spread between the two exchanges
# by subtracting the lower-priced exchange from the higher-priced one
arbitrage_spread_early = coinbase_sliced["Close"].loc["2018-01-02"] - bitstamp_sliced["Close"].loc["2018-01-02"]
arbitrage_spread_early

# Use a conditional statement to generate the summary statistics for each arbitrage_spread DataFrame
profits_spread_early = arbitrage_spread_early[arbitrage_spread_early > 0]
profits_spread_early.describe()

count    1045.000000
mean       43.779694
std        28.090095
min         0.010000
25%        21.310000
50%        40.290000
75%        60.010000
max       148.000000
Name: Close, dtype: float64

In [50]:
# arbitrage spread for mid dataset
arbitrage_spread_mid = coinbase_sliced["Close"].loc["2018-02-15"] - bitstamp_sliced["Close"].loc["2018-02-15"]
arbitrage_spread_mid
# profits mid dataset
profits_spread_mid = arbitrage_spread_mid[arbitrage_spread_mid > 0]
profits_spread_mid.describe()

count    466.000000
mean      11.267489
std        8.653952
min        0.010000
25%        4.372500
50%        9.795000
75%       15.797500
max       48.800000
Name: Close, dtype: float64

In [51]:
# arbitrage spread for late dataset
arbitrage_spread_late = coinbase_sliced["Close"].loc["2018-03-20"] - bitstamp_sliced["Close"].loc["2018-03-20"]
arbitrage_spread_late
# profits late dataset
profits_spread_late = arbitrage_spread_late[arbitrage_spread_late > 0]
profits_spread_late.describe()
profits_spread_late

Timestamp
2018-03-20 00:00:00    10.82
2018-03-20 00:01:00     1.30
2018-03-20 00:04:00     4.82
2018-03-20 00:06:00     2.18
2018-03-20 00:07:00     1.74
                       ...
2018-03-20 23:48:00     0.28
2018-03-20 23:49:00     0.28
2018-03-20 23:53:00    17.29
2018-03-20 23:54:00     9.51
2018-03-20 23:57:00    11.31
Name: Close, Length: 448, dtype: float64

#### 2. For each of the three dates, calculate the spread returns. To do so, divide the instances that have a positive arbitrage spread (that is, a spread greater than zero) by the price of Bitcoin from the exchange you’re buying on (that is, the lower-priced exchange). Review the resulting DataFrame.

In [52]:
# For the date early in the dataset, calculate the spread returns by dividing the instances when the arbitrage spread is positive (> 0) 
# by the price of Bitcoin from the exchange you are buying on (the lower-priced exchange).
spread_return_early_b = profits_spread_early / bitstamp_sliced["Close"].loc["2018-01-02"]
spread_return_early_b.describe()

# Review the spread return DataFrame
#

count    1.045000e+03
mean     3.097421e-03
std      1.945792e-03
min      7.194250e-07
25%      1.536729e-03
50%      2.923986e-03
75%      4.361745e-03
max      1.006803e-02
Name: Close, dtype: float64

In [53]:
# spread return for mid date spread
spread_return_mid_b = profits_spread_mid / bitstamp_sliced["Close"].loc["2018-02-15"]
spread_return_mid_b.describe()

count    466.000000
mean       0.001135
std        0.000865
min        0.000001
25%        0.000437
50%        0.000990
75%        0.001595
max        0.004880
Name: Close, dtype: float64

In [54]:
# spread return for late date spread
spread_return_late_b = profits_spread_late / bitstamp_sliced["Close"].loc["2018-03-20"]
spread_return_late_b.describe()

count    448.000000
mean       0.000646
std        0.000556
min        0.000001
25%        0.000206
50%        0.000489
75%        0.000959
max        0.003108
Name: Close, dtype: float64

#### 3. For each of the three dates, narrow down your trading opportunities even further. To do so, determine the number of times your trades with positive returns exceed the 1% minimum threshold that you need to cover your costs.

In [55]:
# For the date early in the dataset, determine the number of times your trades with positive returns 
# exceed the 1% minimum threshold (.01) that you need to cover your costs
profitable_trades_early = spread_return_early_b[spread_return_early_b > .01]
profitable_trades_early.head()

# Review the first five profitable trades
# YOUR CODE HERE

Timestamp
2018-01-02 21:08:00    0.010060
2018-01-02 21:09:00    0.010068
Name: Close, dtype: float64

In [56]:
profitable_trades_mid = spread_return_mid_b[spread_return_mid_b > .01]
profitable_trades_mid.dropna()
profitable_trades_mid.head()

Series([], Name: Close, dtype: float64)

In [57]:
profitable_trades_late = spread_return_late_b[spread_return_late_b > .01]
profitable_trades_late.dropna()
profitable_trades_late.head()

Series([], Name: Close, dtype: float64)

#### 4. Generate the summary statistics of your spread returns that are greater than 1%. How do the average returns compare among the three dates?

In [58]:
# For the date early in the dataset, generate the summary statistics for the profitable trades
# or you trades where the spread returns are are greater than 1%
profitable_trades_early.describe()

count    2.000000
mean     0.010064
std      0.000006
min      0.010060
25%      0.010062
50%      0.010064
75%      0.010066
max      0.010068
Name: Close, dtype: float64

In [59]:
profitable_trades_mid.describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Close, dtype: float64

In [60]:
profitable_trades_late.describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Close, dtype: float64

#### 5. For each of the three dates, calculate the potential profit, in dollars, per trade. To do so, multiply the spread returns that were greater than 1% by the cost of what was purchased. Make sure to drop any missing values from the resulting DataFrame.

In [61]:
# For the date early in the dataset, calculate the potential profit per trade in dollars 
# Multiply the profitable trades by the cost of the Bitcoin that was purchased
profit_early = profitable_trades_early * bitstamp_sliced["Close"].loc["2018-01-02"]

# Drop any missing values from the profit DataFrame
profit_per_trade_early = profit_early.dropna()

# View the early profit DataFrame
profits_spread_early

Timestamp
2018-01-02 00:00:00    11.63
2018-01-02 00:01:00    80.28
2018-01-02 00:02:00    37.72
2018-01-02 00:03:00    49.43
2018-01-02 00:04:00    42.41
                       ...
2018-01-02 23:55:00    37.19
2018-01-02 23:56:00    47.21
2018-01-02 23:57:00     3.34
2018-01-02 23:58:00    34.74
2018-01-02 23:59:00    17.16
Name: Close, Length: 1045, dtype: float64

In [62]:
# For the date middle in the dataset, calculate the potential profit per trade in dollars 
# Multiply the profitable trades by the cost of the Bitcoin that was purchased
profit_mid = profitable_trades_mid * bitstamp_sliced["Close"].loc["2018-02-15"]

# Drop any missing values from the profit DataFrame
profit_per_trade_mid = profit_mid.dropna()

# View the middle profit DataFrame
profits_spread_mid

Timestamp
2018-02-15 00:00:00    21.30
2018-02-15 00:01:00     6.73
2018-02-15 00:02:00     9.64
2018-02-15 00:03:00    21.18
2018-02-15 00:04:00     7.19
                       ...
2018-02-15 23:31:00     8.16
2018-02-15 23:32:00    28.96
2018-02-15 23:33:00    15.04
2018-02-15 23:42:00     4.46
2018-02-15 23:45:00     1.20
Name: Close, Length: 466, dtype: float64

In [63]:
# For the date late in the dataset, calculate the potential profit per trade in dollars 
# Multiply the profitable trades by the cost of the Bitcoin that was purchased
profit_late = profitable_trades_late * bitstamp_sliced["Close"].loc["2018-03-20"]

# Drop any missing values from the profit DataFrame
profit_per_trade_late = profit_late.dropna()

# View the early profit DataFrame
profits_spread_late

Timestamp
2018-03-20 00:00:00    10.82
2018-03-20 00:01:00     1.30
2018-03-20 00:04:00     4.82
2018-03-20 00:06:00     2.18
2018-03-20 00:07:00     1.74
                       ...
2018-03-20 23:48:00     0.28
2018-03-20 23:49:00     0.28
2018-03-20 23:53:00    17.29
2018-03-20 23:54:00     9.51
2018-03-20 23:57:00    11.31
Name: Close, Length: 448, dtype: float64

#### 6. Generate the summary statistics, and plot the results for each of the three DataFrames.

In [64]:
# Generate the summary statistics for the early profit per trade DataFrame
profits_spread_early.describe()

count    1045.000000
mean       43.779694
std        28.090095
min         0.010000
25%        21.310000
50%        40.290000
75%        60.010000
max       148.000000
Name: Close, dtype: float64

In [65]:
profits_spread_early.plot(title="early arbitrage profits", color="red")

In [66]:
# Generate the summary statistics for the middleprofit per trade DataFrame
profits_spread_mid.describe()

count    466.000000
mean      11.267489
std        8.653952
min        0.010000
25%        4.372500
50%        9.795000
75%       15.797500
max       48.800000
Name: Close, dtype: float64

In [67]:
profits_spread_mid.plot(title="mid arbitrage profits", color="blue")

In [68]:
# Generate the summary statistics for the late profit per trade DataFrame
profits_spread_late.describe()

count    448.000000
mean       5.706830
std        4.944639
min        0.010000
25%        1.817500
50%        4.275000
75%        8.525000
max       27.930000
Name: Close, dtype: float64

In [77]:
profits_spread_late.plot(title="late arbitrage profits", color="orange")
plt.show()

#### 7. Calculate the potential arbitrage profits that you can make on each day. To do so, sum the elements in the profit_per_trade DataFrame.

In [70]:
# Calculate the sum of the potential profits for the early profit per trade DataFrame
early_arb_total_profit = profits_spread_early.sum()
early_arb_total_profit

45749.78000000002

In [71]:
# Calculate the sum of the potential profits for the mid profit per trade DataFrame
mid_arb_total_profit = profits_spread_mid.sum()
mid_arb_total_profit

5250.650000000003

In [72]:
# Calculate the sum of the potential profits for the late profit per trade DataFrame
late_arb_total_profit = profits_spread_late.sum()
late_arb_total_profit

2556.6599999999944

#### 8. Using the `cumsum` function, plot the cumulative sum of each of the three DataFrames. Can you identify any patterns or trends in the profits across the three time periods?

In [85]:
# Use the cumsum function to calculate the cumulative profits over time for the early profit per trade DataFrame
early_arb_cumulative_profit = profits_spread_early.cumsum()
early_arb_cumulative_profit
early_arb_cumulative_profit.describe()

count     1045.000000
mean     21446.515770
std      12698.363863
min         11.630000
25%      11021.780000
50%      20322.080000
75%      30925.950000
max      45749.780000
Name: Close, dtype: float64

In [84]:
# Use the cumsum function to calculate the cumulative profits over time for the mid profit per trade DataFrame
mid_arb_cumulative_profit = profits_spread_mid.cumsum()
mid_arb_cumulative_profit
mid_arb_cumulative_profit.describe()

count     466.000000
mean     2509.622747
std      1671.789370
min        21.300000
25%       979.897500
50%      2281.060000
75%      4277.202500
max      5250.650000
Name: Close, dtype: float64

In [83]:
# Use the cumsum function to calculate the cumulative profits over time for the late profit per trade DataFrame
late_arb_cumulative_profit = profits_spread_late.cumsum()
late_arb_cumulative_profit
late_arb_cumulative_profit.describe()

count     448.000000
mean     1216.543326
std       806.400146
min        10.820000
25%       462.365000
50%      1149.455000
75%      1976.602500
max      2556.660000
Name: Close, dtype: float64

In [82]:
# Plot the cumulative sum of profits for the each of the 3 days DataFrame
early_arb_cumulative_profit.plot(legend=True, color="red", title="Cumulative Arbitrage Profit Per Day", figsize=(10,5))
mid_arb_cumulative_profit.plot(legend=True, color="blue", figsize=(10,5))
late_arb_cumulative_profit.plot(legend=True, color="orange", figsize=(10,5))
plt.show()

**Question:** After reviewing the profit information across each date from the different time periods, can you identify any patterns or trends?
    
**Answer:** Arbitrage margins were considerably greater in the beginning of the dataset and decreased over time.